@charset "utf-8";
body { min-width:320px; background:#e9ecf3; color:#000; font-family:'微软雅黑'; font-size:14px; }
a:hover{text-decoration:none;}
th{font-weight:normal;white-space:nowrap;}
.page-header { background:#2b3749; }

.font-blue { color:#3598dc!important;  }
.bold { font-weight:700!important; }
.uppercase { text-transform:uppercase!important; }

.navbar-nav>li>a:hover{background-color:none;color:#fff;}
.navbar-nav>li.dropdown .dropdown-toggle>i{color:#C0CDDC}
.navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default{background-color:#5b9bd1;color:#fff}
.navbar-nav>li.dropdown.open .dropdown-toggle{background-color:none}
.navbar-nav>li.dropdown .dropdown-menu:before{border-bottom-color:#dce1ec}
.navbar-nav>li.separator{background:#414e61}


.dropdown-menu>li>a{color:#6e6e6e;}
.dropdown-menu>li>a>[class*=" icon-"],.dropdown-menu>li>a>[class^=icon-]{color:#666}

.menu-toggler { background-image:url(../images/sidebar-toggle-light.png) }


.page-sidebar,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover{background-color:none}
.page-sidebar .page-sidebar-menu>li.heading>h3,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3{color:#5C9ACF}
.page-sidebar .page-sidebar-menu>li>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{color:#485a6a}
.page-sidebar .page-sidebar-menu>li>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i{color:#97b1c3}
.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-],.page-sidebar .page-sidebar-menu>li>a>i[class^=icon-],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-]{color:#a7bdcd}
.page-sidebar .page-sidebar-menu>li>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow:before{color:#a0b8c9}
.page-sidebar .page-sidebar-menu>li.open>a,.page-sidebar .page-sidebar-menu>li:hover>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{background:#e9ecf3;color:#354052}
.page-sidebar .page-sidebar-menu>li.open>a>i,.page-sidebar .page-sidebar-menu>li:hover>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i{color:#5b9bd1}
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li.open>a>.arrow:before,.page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before{color:#67a2d4}
.page-sidebar .page-sidebar-menu>li.active.open>a,.page-sidebar .page-sidebar-menu>li.active>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{background:#f2f6f9;color:#5b9bd1}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover,.page-sidebar .page-sidebar-menu>li.active>a:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover{background:#f2f6f9}
.page-sidebar .page-sidebar-menu>li.active.open>a>i,.page-sidebar .page-sidebar-menu>li.active>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>i{color:#5b9bd1}
.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow:before,.page-sidebar .page-sidebar-menu>li.active>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li.active>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow:before{color:#67a2d4}
.page-sidebar .page-sidebar-menu>li.active>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{border-left:3px solid #5C9ACF!important;margin-left:-3px;padding-left:15px}
.page-sidebar .page-sidebar-menu li>a>.arrow.open:before,.page-sidebar .page-sidebar-menu li>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before{color:#a0b8c9}
.page-sidebar .page-sidebar-menu li.active>a>.arrow.open:before,.page-sidebar .page-sidebar-menu li.active>a>.arrow:before,.page-sidebar .page-sidebar-menu li:hover>a>.arrow.open:before,.page-sidebar .page-sidebar-menu li:hover>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow:before{color:#67a2d4}
.page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu,.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu{background:#FFF}
.page-sidebar .page-sidebar-menu .sub-menu>li>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a{color:#bac8dd}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i{color:#97b1c3}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class*=icon-],.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class^=icon-],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class*=icon-],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class^=icon-]{color:#a7bdcd}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>.arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu>li>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>.arrow:before{color:#a0b8c9}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a,.page-sidebar .page-sidebar-menu .sub-menu>li.open>a,.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a{color:#5b9bd1;background:#414e61!important}
.page-footer-fixed .page-boxed .page-footer,.page-footer-fixed .page-footer{background-color:#e9ecf3}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i,.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i,.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i{color:#5b9bd1}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>.arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>.arrow:before,.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>.arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>.arrow:before,.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>.arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>.arrow:before{color:#67a2d4}

@media (min-width:992px){
.page-sidebar-menu.page-sidebar-menu-closed>li:hover,.page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu,.page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover>.sub-menu{box-shadow:5px 5px rgba(140,178,198,.2)}
.page-sidebar-fixed:not(.page-footer-fixed) .page-content{border-bottom:0}
.page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner{color:#333}
.page-boxed .page-container{background-color:#e9ecf3}
.page-boxed.page-sidebar-reversed .page-container{border-left:0}
.page-boxed.page-sidebar-fixed .page-container{border-left:0;border-bottom:0}
.page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container{border-left:0;border-right:0;border-bottom:0}
.page-sidebar-menu-hover-submenu li:hover a>.arrow{border-right:8px solid #FFF}
.page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a>.arrow{border-left:8px solid #FFF}
.page-sidebar-menu-hover-submenu li:hover>.sub-menu{background:#FFF!important}
}
@media (max-width:991px){
.page-sidebar .page-sidebar-menu>li>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{border-top:1px solid #343d4e}

.navbar-nav>li.dropdown>.dropdown-toggle:hover{background-color:none}
}
@media (max-width:767px){
.page-header.navbar{background:none;border-bottom:0}
.navbar-nav>li.dropdown>.dropdown-toggle:hover{background-color:none}
}

.dashboard-stat.white{background-color:#fff}
.dashboard-stat.white.dashboard-stat-light:hover{background-color:#f5f5f5}
.dashboard-stat.white .visual>i{color:#666;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.white .details .number{color:#666}
.dashboard-stat.white .details .desc{color:#666;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.white .more{color:#666;background-color:#f5f5f5}
.dashboard-stat.default{background-color:#e1e5ec}
.dashboard-stat.default.dashboard-stat-light:hover{background-color:#d5dae4}
.dashboard-stat.default .visual>i{color:#666;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.default .details .number{color:#666}
.dashboard-stat.default .details .desc{color:#666;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.default .more{color:#666;background-color:#d5dae4}
.dashboard-stat.dark{background-color:#2f353b}
.dashboard-stat.dark.dashboard-stat-light:hover{background-color:#262b30}
.dashboard-stat.dark .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.dark .details .number{color:#FFF}
.dashboard-stat.dark .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.dark .more{color:#FFF;background-color:#262b30}
.dashboard-stat.blue{background-color:#3598dc}
.dashboard-stat.blue.dashboard-stat-light:hover{background-color:#258fd7}
.dashboard-stat.blue .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue .details .number{color:#FFF}
.dashboard-stat.blue .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue .more{color:#FFF;background-color:#258fd7}
.dashboard-stat.blue-madison{background-color:#578ebe}
.dashboard-stat.blue-madison.dashboard-stat-light:hover{background-color:#4884b8}
.dashboard-stat.blue-madison .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue-madison .details .number{color:#FFF}
.dashboard-stat.blue-madison .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue-madison .more{color:#FFF;background-color:#4884b8}
.dashboard-stat.blue-chambray{background-color:#2C3E50}
.dashboard-stat.blue-chambray.dashboard-stat-light:hover{background-color:#253443}
.dashboard-stat.blue-chambray .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue-chambray .details .number{color:#FFF}
.dashboard-stat.blue-chambray .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue-chambray .more{color:#FFF;background-color:#253443}
.dashboard-stat.blue-ebonyclay{background-color:#22313F}
.dashboard-stat.blue-ebonyclay.dashboard-stat-light:hover{background-color:#1b2732}
.dashboard-stat.blue-ebonyclay .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue-ebonyclay .details .number{color:#FFF}
.dashboard-stat.blue-ebonyclay .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue-ebonyclay .more{color:#FFF;background-color:#1b2732}
.dashboard-stat.blue-hoki{background-color:#67809F}
.dashboard-stat.blue-hoki.dashboard-stat-light:hover{background-color:#5e7694}
.dashboard-stat.blue-hoki .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue-hoki .details .number{color:#FFF}
.dashboard-stat.blue-hoki .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue-hoki .more{color:#FFF;background-color:#5e7694}
.dashboard-stat.blue-steel{background-color:#4B77BE}
.dashboard-stat.blue-steel.dashboard-stat-light:hover{background-color:#416db4}
.dashboard-stat.blue-steel .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue-steel .details .number{color:#FFF}
.dashboard-stat.blue-steel .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue-steel .more{color:#FFF;background-color:#416db4}
.dashboard-stat.blue-soft{background-color:#4c87b9}
.dashboard-stat.blue-soft.dashboard-stat-light:hover{background-color:#447dad}
.dashboard-stat.blue-soft .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue-soft .details .number{color:#FFF}
.dashboard-stat.blue-soft .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue-soft .more{color:#FFF;background-color:#447dad}
.dashboard-stat.blue-dark{background-color:#5e738b}
.dashboard-stat.blue-dark.dashboard-stat-light:hover{background-color:#56697f}
.dashboard-stat.blue-dark .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue-dark .details .number{color:#FFF}
.dashboard-stat.blue-dark .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue-dark .more{color:#FFF;background-color:#56697f}
.dashboard-stat.blue-sharp{background-color:#5C9BD1}
.dashboard-stat.blue-sharp.dashboard-stat-light:hover{background-color:#4c91cd}
.dashboard-stat.blue-sharp .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.blue-sharp .details .number{color:#FFF}
.dashboard-stat.blue-sharp .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.blue-sharp .more{color:#FFF;background-color:#4c91cd}
.dashboard-stat.green{background-color:#32c5d2}
.dashboard-stat.green.dashboard-stat-light:hover{background-color:#2bb8c4}
.dashboard-stat.green .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green .details .number{color:#FFF}
.dashboard-stat.green .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green .more{color:#FFF;background-color:#2bb8c4}
.dashboard-stat.green-meadow{background-color:#1BBC9B}
.dashboard-stat.green-meadow.dashboard-stat-light:hover{background-color:#18aa8c}
.dashboard-stat.green-meadow .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green-meadow .details .number{color:#FFF}
.dashboard-stat.green-meadow .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green-meadow .more{color:#FFF;background-color:#18aa8c}
.dashboard-stat.green-seagreen{background-color:#1BA39C}
.dashboard-stat.green-seagreen.dashboard-stat-light:hover{background-color:#18918b}
.dashboard-stat.green-seagreen .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green-seagreen .details .number{color:#FFF}
.dashboard-stat.green-seagreen .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green-seagreen .more{color:#FFF;background-color:#18918b}
.dashboard-stat.green-turquoise{background-color:#36D7B7}
.dashboard-stat.green-turquoise.dashboard-stat-light:hover{background-color:#29cfae}
.dashboard-stat.green-turquoise .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green-turquoise .details .number{color:#FFF}
.dashboard-stat.green-turquoise .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green-turquoise .more{color:#FFF;background-color:#29cfae}
.dashboard-stat.green-haze{background-color:#44b6ae}
.dashboard-stat.green-haze.dashboard-stat-light:hover{background-color:#3ea7a0}
.dashboard-stat.green-haze .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green-haze .details .number{color:#FFF}
.dashboard-stat.green-haze .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green-haze .more{color:#FFF;background-color:#3ea7a0}
.dashboard-stat.green-jungle{background-color:#26C281}
.dashboard-stat.green-jungle.dashboard-stat-light:hover{background-color:#23b176}
.dashboard-stat.green-jungle .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green-jungle .details .number{color:#FFF}
.dashboard-stat.green-jungle .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green-jungle .more{color:#FFF;background-color:#23b176}
.dashboard-stat.green-soft{background-color:#3faba4}
.dashboard-stat.green-soft.dashboard-stat-light:hover{background-color:#3a9c96}
.dashboard-stat.green-soft .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green-soft .details .number{color:#FFF}
.dashboard-stat.green-soft .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green-soft .more{color:#FFF;background-color:#3a9c96}
.dashboard-stat.green-dark{background-color:#4DB3A2}
.dashboard-stat.green-dark.dashboard-stat-light:hover{background-color:#46a595}
.dashboard-stat.green-dark .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green-dark .details .number{color:#FFF}
.dashboard-stat.green-dark .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green-dark .more{color:#FFF;background-color:#46a595}
.dashboard-stat.green-sharp{background-color:#2ab4c0}
.dashboard-stat.green-sharp.dashboard-stat-light:hover{background-color:#26a4af}
.dashboard-stat.green-sharp .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.green-sharp .details .number{color:#FFF}
.dashboard-stat.green-sharp .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.green-sharp .more{color:#FFF;background-color:#26a4af}
.dashboard-stat.grey{background-color:#E5E5E5}
.dashboard-stat.grey.dashboard-stat-light:hover{background-color:#dbdbdb}
.dashboard-stat.grey .visual>i{color:#333;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey .details .number{color:#333}
.dashboard-stat.grey .details .desc{color:#333;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey .more{color:#333;background-color:#dbdbdb}
.dashboard-stat.grey-steel{background-color:#e9edef}
.dashboard-stat.grey-steel.dashboard-stat-light:hover{background-color:#dde3e6}
.dashboard-stat.grey-steel .visual>i{color:#80898e;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey-steel .details .number{color:#80898e}
.dashboard-stat.grey-steel .details .desc{color:#80898e;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey-steel .more{color:#80898e;background-color:#dde3e6}
.dashboard-stat.grey-cararra{background-color:#fafafa}
.dashboard-stat.grey-cararra.dashboard-stat-light:hover{background-color:#f0f0f0}
.dashboard-stat.grey-cararra .visual>i{color:#333;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey-cararra .details .number{color:#333}
.dashboard-stat.grey-cararra .details .desc{color:#333;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey-cararra .more{color:#333;background-color:#f0f0f0}
.dashboard-stat.grey-gallery{background-color:#555}
.dashboard-stat.grey-gallery.dashboard-stat-light:hover{background-color:#4b4b4b}
.dashboard-stat.grey-gallery .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey-gallery .details .number{color:#fff}
.dashboard-stat.grey-gallery .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey-gallery .more{color:#fff;background-color:#4b4b4b}
.dashboard-stat.grey-cascade{background-color:#95A5A6}
.dashboard-stat.grey-cascade.dashboard-stat-light:hover{background-color:#8a9c9d}
.dashboard-stat.grey-cascade .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey-cascade .details .number{color:#FFF}
.dashboard-stat.grey-cascade .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey-cascade .more{color:#FFF;background-color:#8a9c9d}
.dashboard-stat.grey-silver{background-color:#BFBFBF}
.dashboard-stat.grey-silver.dashboard-stat-light:hover{background-color:#b5b5b5}
.dashboard-stat.grey-silver .visual>i{color:#FAFCFB;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey-silver .details .number{color:#FAFCFB}
.dashboard-stat.grey-silver .details .desc{color:#FAFCFB;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey-silver .more{color:#FAFCFB;background-color:#b5b5b5}
.dashboard-stat.grey-salsa{background-color:#ACB5C3}
.dashboard-stat.grey-salsa.dashboard-stat-light:hover{background-color:#a0aaba}
.dashboard-stat.grey-salsa .visual>i{color:#FAFCFB;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey-salsa .details .number{color:#FAFCFB}
.dashboard-stat.grey-salsa .details .desc{color:#FAFCFB;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey-salsa .more{color:#FAFCFB;background-color:#a0aaba}
.dashboard-stat.grey-salt{background-color:#bfcad1}
.dashboard-stat.grey-salt.dashboard-stat-light:hover{background-color:#b3c0c8}
.dashboard-stat.grey-salt .visual>i{color:#FAFCFB;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey-salt .details .number{color:#FAFCFB}
.dashboard-stat.grey-salt .details .desc{color:#FAFCFB;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey-salt .more{color:#FAFCFB;background-color:#b3c0c8}
.dashboard-stat.grey-mint{background-color:#525e64}
.dashboard-stat.grey-mint.dashboard-stat-light:hover{background-color:#495359}
.dashboard-stat.grey-mint .visual>i{color:#FFF;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.grey-mint .details .number{color:#FFF}
.dashboard-stat.grey-mint .details .desc{color:#FFF;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.grey-mint .more{color:#FFF;background-color:#495359}
.dashboard-stat.red{background-color:#e7505a}
.dashboard-stat.red.dashboard-stat-light:hover{background-color:#e53e49}
.dashboard-stat.red .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red .details .number{color:#fff}
.dashboard-stat.red .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red .more{color:#fff;background-color:#e53e49}
.dashboard-stat.red-pink{background-color:#E08283}
.dashboard-stat.red-pink.dashboard-stat-light:hover{background-color:#dc7273}
.dashboard-stat.red-pink .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red-pink .details .number{color:#fff}
.dashboard-stat.red-pink .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red-pink .more{color:#fff;background-color:#dc7273}
.dashboard-stat.red-sunglo{background-color:#E26A6A}
.dashboard-stat.red-sunglo.dashboard-stat-light:hover{background-color:#df5959}
.dashboard-stat.red-sunglo .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red-sunglo .details .number{color:#fff}
.dashboard-stat.red-sunglo .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red-sunglo .more{color:#fff;background-color:#df5959}
.dashboard-stat.red-intense{background-color:#e35b5a}
.dashboard-stat.red-intense.dashboard-stat-light:hover{background-color:#e04a49}
.dashboard-stat.red-intense .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red-intense .details .number{color:#fff}
.dashboard-stat.red-intense .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red-intense .more{color:#fff;background-color:#e04a49}
.dashboard-stat.red-thunderbird{background-color:#D91E18}
.dashboard-stat.red-thunderbird.dashboard-stat-light:hover{background-color:#c71b16}
.dashboard-stat.red-thunderbird .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red-thunderbird .details .number{color:#fff}
.dashboard-stat.red-thunderbird .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red-thunderbird .more{color:#fff;background-color:#c71b16}
.dashboard-stat.red-flamingo{background-color:#EF4836}
.dashboard-stat.red-flamingo.dashboard-stat-light:hover{background-color:#ed3723}
.dashboard-stat.red-flamingo .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red-flamingo .details .number{color:#fff}
.dashboard-stat.red-flamingo .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red-flamingo .more{color:#fff;background-color:#ed3723}
.dashboard-stat.red-soft{background-color:#d05454}
.dashboard-stat.red-soft.dashboard-stat-light:hover{background-color:#c44}
.dashboard-stat.red-soft .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red-soft .details .number{color:#fff}
.dashboard-stat.red-soft .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red-soft .more{color:#fff;background-color:#c44}
.dashboard-stat.red-haze{background-color:#f36a5a}
.dashboard-stat.red-haze.dashboard-stat-light:hover{background-color:#f25947}
.dashboard-stat.red-haze .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red-haze .details .number{color:#fff}
.dashboard-stat.red-haze .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red-haze .more{color:#fff;background-color:#f25947}
.dashboard-stat.red-mint{background-color:#e43a45}
.dashboard-stat.red-mint.dashboard-stat-light:hover{background-color:#e22834}
.dashboard-stat.red-mint .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.red-mint .details .number{color:#fff}
.dashboard-stat.red-mint .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.red-mint .more{color:#fff;background-color:#e22834}
.dashboard-stat.yellow{background-color:#c49f47}
.dashboard-stat.yellow.dashboard-stat-light:hover{background-color:#bb953c}
.dashboard-stat.yellow .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow .details .number{color:#fff}
.dashboard-stat.yellow .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow .more{color:#fff;background-color:#bb953c}
.dashboard-stat.yellow-gold{background-color:#E87E04}
.dashboard-stat.yellow-gold.dashboard-stat-light:hover{background-color:#d47304}
.dashboard-stat.yellow-gold .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow-gold .details .number{color:#fff}
.dashboard-stat.yellow-gold .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow-gold .more{color:#fff;background-color:#d47304}
.dashboard-stat.yellow-casablanca{background-color:#f2784b}
.dashboard-stat.yellow-casablanca.dashboard-stat-light:hover{background-color:#f16a38}
.dashboard-stat.yellow-casablanca .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow-casablanca .details .number{color:#fff}
.dashboard-stat.yellow-casablanca .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow-casablanca .more{color:#fff;background-color:#f16a38}
.dashboard-stat.yellow-crusta{background-color:#f3c200}
.dashboard-stat.yellow-crusta.dashboard-stat-light:hover{background-color:#dfb200}
.dashboard-stat.yellow-crusta .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow-crusta .details .number{color:#fff}
.dashboard-stat.yellow-crusta .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow-crusta .more{color:#fff;background-color:#dfb200}
.dashboard-stat.yellow-lemon{background-color:#F7CA18}
.dashboard-stat.yellow-lemon.dashboard-stat-light:hover{background-color:#f2c308}
.dashboard-stat.yellow-lemon .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow-lemon .details .number{color:#fff}
.dashboard-stat.yellow-lemon .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow-lemon .more{color:#fff;background-color:#f2c308}
.dashboard-stat.yellow-saffron{background-color:#F4D03F}
.dashboard-stat.yellow-saffron.dashboard-stat-light:hover{background-color:#f3cb2c}
.dashboard-stat.yellow-saffron .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow-saffron .details .number{color:#fff}
.dashboard-stat.yellow-saffron .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow-saffron .more{color:#fff;background-color:#f3cb2c}
.dashboard-stat.yellow-soft{background-color:#c8d046}
.dashboard-stat.yellow-soft.dashboard-stat-light:hover{background-color:#c3cc36}
.dashboard-stat.yellow-soft .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow-soft .details .number{color:#fff}
.dashboard-stat.yellow-soft .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow-soft .more{color:#fff;background-color:#c3cc36}
.dashboard-stat.yellow-haze{background-color:#c5bf66}
.dashboard-stat.yellow-haze.dashboard-stat-light:hover{background-color:#bfb957}
.dashboard-stat.yellow-haze .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow-haze .details .number{color:#fff}
.dashboard-stat.yellow-haze .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow-haze .more{color:#fff;background-color:#bfb957}
.dashboard-stat.yellow-mint{background-color:#c5b96b}
.dashboard-stat.yellow-mint.dashboard-stat-light:hover{background-color:#bfb25c}
.dashboard-stat.yellow-mint .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.yellow-mint .details .number{color:#fff}
.dashboard-stat.yellow-mint .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.yellow-mint .more{color:#fff;background-color:#bfb25c}
.dashboard-stat.purple{background-color:#8E44AD}
.dashboard-stat.purple.dashboard-stat-light:hover{background-color:#823e9e}
.dashboard-stat.purple .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple .details .number{color:#fff}
.dashboard-stat.purple .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple .more{color:#fff;background-color:#823e9e}
.dashboard-stat.purple-plum{background-color:#8775a7}
.dashboard-stat.purple-plum.dashboard-stat-light:hover{background-color:#7c699f}
.dashboard-stat.purple-plum .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple-plum .details .number{color:#fff}
.dashboard-stat.purple-plum .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple-plum .more{color:#fff;background-color:#7c699f}
.dashboard-stat.purple-medium{background-color:#BF55EC}
.dashboard-stat.purple-medium.dashboard-stat-light:hover{background-color:#b843ea}
.dashboard-stat.purple-medium .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple-medium .details .number{color:#fff}
.dashboard-stat.purple-medium .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple-medium .more{color:#fff;background-color:#b843ea}
.dashboard-stat.purple-studio{background-color:#8E44AD}
.dashboard-stat.purple-studio.dashboard-stat-light:hover{background-color:#823e9e}
.dashboard-stat.purple-studio .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple-studio .details .number{color:#fff}
.dashboard-stat.purple-studio .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple-studio .more{color:#fff;background-color:#823e9e}
.dashboard-stat.purple-wisteria{background-color:#9B59B6}
.dashboard-stat.purple-wisteria.dashboard-stat-light:hover{background-color:#924dae}
.dashboard-stat.purple-wisteria .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple-wisteria .details .number{color:#fff}
.dashboard-stat.purple-wisteria .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple-wisteria .more{color:#fff;background-color:#924dae}
.dashboard-stat.purple-seance{background-color:#9A12B3}
.dashboard-stat.purple-seance.dashboard-stat-light:hover{background-color:#8a10a0}
.dashboard-stat.purple-seance .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple-seance .details .number{color:#fff}
.dashboard-stat.purple-seance .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple-seance .more{color:#fff;background-color:#8a10a0}
.dashboard-stat.purple-intense{background-color:#8775a7}
.dashboard-stat.purple-intense.dashboard-stat-light:hover{background-color:#7c699f}
.dashboard-stat.purple-intense .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple-intense .details .number{color:#fff}
.dashboard-stat.purple-intense .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple-intense .more{color:#fff;background-color:#7c699f}
.dashboard-stat.purple-sharp{background-color:#796799}
.dashboard-stat.purple-sharp.dashboard-stat-light:hover{background-color:#6f5f8d}
.dashboard-stat.purple-sharp .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple-sharp .details .number{color:#fff}
.dashboard-stat.purple-sharp .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple-sharp .more{color:#fff;background-color:#6f5f8d}
.dashboard-stat.purple-soft{background-color:#8877a9}
.dashboard-stat.purple-soft.dashboard-stat-light:hover{background-color:#7d6ba1}
.dashboard-stat.purple-soft .visual>i{color:#fff;opacity:.1;filter:alpha(opacity=10)}
.dashboard-stat.purple-soft .details .number{color:#fff}
.dashboard-stat.purple-soft .details .desc{color:#fff;opacity:1;filter:alpha(opacity=100)}
.dashboard-stat.purple-soft .more{color:#fff;background-color:#7d6ba1}