*{margin:0;padding:0;}
body{font-family:Microsoft YaHei;font-size:14px;}
table { border-collapse:collapse; border-spacing:0; }
.editTable { width:100%; margin-bottom:10px; border:1px solid #d8e6f7; color:#000;  background:#fff; }
.editTable tr { height:32px; }
.editTable td { border:1px solid #d8e6f7; padding:0 8px; }
.editTable tr .left { width:17%; background:#fffcf0; text-align:right; padding-right:10px; }
.editTable input { vertical-align:middle;}
.editTable .button { text-align:center; }
.editTable .button input { width:80px; height:22px; }
.editTable .heaer { background:#ebf3fc; }
.editTable .heaer td { padding-left:20px; font-weight:bold; }
.editTable .footer { height:38px; background:#ebf3fc; }
.editTable .footer td { padding-left:120px; }
.editTable .editor { padding:10px; }
.editTable tr td a { color:#003366; }
.editTable .footer a { color:#000000; }
.editDiv { border:1px solid #d8e6f7; background:#ebf3fc; height:28px; padding-top:10px; border-top:none; margin-bottom:10px; }
.editDiv .footer { padding-left:120px; }


.editTable2 { width:100%; color:#000; border:1px solid #ddd; background:#fff; }
.editTable2 tr { height:34px; }
.editTable2 .editLeftTd{text-align:right;padding-right:15px;background:#fafafa;}
.editTable2 .editRightTd{padding-left:15px;}
.editTable2 td { border:1px dotted #ccc; }